.wrapper {
  display: flex;
  
  section {
    flex: 1;

    main {
      max-height: calc(100vh - 6.5rem);
      overflow-y: scroll;
    }
  }
}

@media(max-width: 1080px) {
  .wrapper {
    height: 100vh;
    flex-direction: column;

    section main{
      max-height: calc(100vh - 6.5rem - 5rem );
    }
  }
}