.dashboardContainer {
  height: calc(100vh - 6.5rem);
  padding: 0 4rem;
  overflow-y: scroll;

  header {
    margin-top: 3rem;
    margin-bottom: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      padding: 0.3rem;
      display: flex;

      font-size: 1.5rem;
      color: #04d361;

      border: 1px solid var(--gray-100);
      border-radius: 0.675rem;
      background-color: var(--white);

      cursor: pointer;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.95);
      }
    }
  }
}