.newEpisodeContainer {
  max-width: 45rem;
  height: calc(100vh - 6.5rem);
  padding: 0 4rem;

  margin: 0 auto;
  overflow-y: scroll;

  header {
    margin-top: 2rem;

    h2 {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
    }

    a {
      max-width: 5rem;
      padding: 0.5rem 0.8rem;

      text-decoration: none;

      display: flex;
      justify-content: space-between;
      gap: 0.3rem;

      color: var(--purple-500);

      border: 1px solid var(--gray-100);
      border-radius: 0.675rem;
      background-color: var(--white);

      span {
        font-size: 0.8rem;
      }
    }
  }

  footer {
    margin-top: 2rem;

    display: flex;
    justify-content: flex-end;

    button {
      padding: 0.5rem 0.8rem;

      display: flex;
      justify-content: space-between;
      gap: 0.3rem;

      color: #04d361;

      border: 1px solid var(--gray-100);
      border-radius: 0.675rem;
      background-color: var(--white);

      span {
        font-size: 0.8rem;
      }
    }
  }
}

.uploadButtons {
  width: 100%;
  margin-top: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 3rem;

  font-size: 0.8rem;
  color: var(--gray-500);

  label {
    flex: 1;

    input {
      display: none;
    }
  
    div {
      min-width: 15rem;
      padding: 0.5rem 0.8rem;
      cursor: pointer;
  
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      border: 1px solid var(--gray-100);
      border-radius: 0.3rem;
      background-color: var(--white);
    }

    &.isUploadActive {
      flex: none;

      div {
        width: 0;
      
        span {
          max-width: 80%;
          
          overflow: hidden;
          white-space: nowrap;
          
          font-size: 0.875rem;
          text-overflow: ellipsis;
        }
  
        color: var(--white);
        background-color: var(--purple-300);
      }
    }
  }
}